.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

saved_context
saved_answer
ChatbotIntegration/saved_answer
ChatbotIntegration/saved_context
ChatbotIntegration/chatbot.ipynb
ChatbotIntegration/my_model_weights.h5
ChatbotIntegration/my_model_weights20.h5
ChatbotIntegration/my_model_weights_discriminator.h5
ChatbotIntegration/vocabulary_movie
ChatbotIntegration/.gitattributes
ChatbotIntegration/LICENSE
Chatbot Processing/chatbot.ipynb
datasets
py37-venv
images
